/* TaskItem.css */
.task-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 16px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
    width: 300px;
    position: relative;
}

.task-item.completed {
    background-color: #e0ffe0;
    border-color: #a3d9a5;
    text-decoration: line-through;
}

.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.task-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.priority {
    padding: 5px 10px;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.priority.high {
    background-color: #f44336; /* Red */
}

.priority.medium {
    background-color: #ff9800; /* Orange */
}

.priority.low {
    background-color: #4caf50; /* Green */
}

.task-description {
    font-size: 14px;
    margin: 0;
    color: #333;
}

.task-details {
    margin-top: 10px;
    font-size: 12px;
    color: #666;
}

.assigned-to, .deadline {
    display: block;
    margin-bottom: 5px;
}

.edit-actions{
    display: flex;
    position: absolute;
    right: 12px;
    bottom: 12px;
    object-fit: fill;
    gap: 8px;
}

.edit-actions img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
